<div class="col-2 ps-5 py-5">
      <div class="dropdown my-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         quản lý đơn hàng
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/my-shop/orders?page=1">tất cả đơn hàng</a></li>
        </ul>
      </div>
      <div class="dropdown my-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         quản lý sản phẩm
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/my-shop/items">tất cả sản phẩm</a></li>
          <li><a class="dropdown-item" href="/my-shop/add-item">thêm sản phẩm</a></li>
        </ul>
      </div>
      <div class="dropdown my-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         quản lý shop
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/my-shop/rating">đánh giá shop</a></li>
          <li><a class="dropdown-item" href="/my-shop/category">danh mục của shop</a></li>
        </ul>
      </div>
      

</div>