<div class="col-2 ps-5 py-4" style="min-height: 70vh;">
      <div class="my-3">
        <a data-bs-toggle="collapse" href="#shipping" role="button" aria-expanded="false" aria-controls="shipping">công ty vận chuyển</a>
        <div class="px-4 collapse multi-collapse" id="shipping">
          <div><a class="" href="/admin/add-shipping-company">Thêm</a></div>
          <div><a class="" href="/admin/shipping-companies">Tất cả</a></div>
        </div>
      </div>
      <div class="my-3">
        <a  href="/admin/users">Quản lý người dùng</a>
      </div >
      <div class="my-3">
          <a  href="/admin/main-categories">Quản lý danh mục</a>
      </div>
      <div class="my-3">
          <a href="/admin/shops">Quản lý shop</a>
      </div>
      <div class="my-3">
        <a data-bs-toggle="collapse" href="#setting" role="button" aria-expanded="false" aria-controls="setting">Cài đặt</a>
        <div class="px-4 collapse multi-collapse" id="setting">
          <div><a class="" href="/admin/footer">footer</a></div>
          <div><a class="" href="/admin/banner">banner</a></div>
        </div>
      </div>
</div>