<%-include ('../../partials/header') %>
<div class="row">
    <%-include('../sidebar')%>
    <div class="col-10 my-3">
        <div>
            ><a href="/admin/main-categories">danh mục chính</a>
            >thêm danh mục
        </div>
        <div id="message">
            <%=message%>
        </div>
        <div class="col-6 mx-3">
            <form action="/admin/add-main-category" method="POST" enctype="multipart/form-data">
                <div class="my-3">
                    <label for="name" class="form-label">tên</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
                <div class="my-3">
                    <label for="logo" class="form-label" >logo</label>
                    <input type="file" class="form-control" name="mainCategory" id="logo" required>
                </div>
                <div class="my-3">
                    <button class="btn btn-primary">tạo</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%-include ('../../partials/footer') %>